@import "../abstracts/variables";

.loading-spinner {
  animation: hiding 3s forwards;
  color: $cyan;
  height: 82%;
  font-size: 400px;
  @media screen and (max-width: 768px) {
    height: 61%;
    font-size: 200px;
  }

  .fa-gear {
    animation: loading-spinner 3s linear forwards;
  }
}

@keyframes hiding {
  99% {
    opacity: 1;
    position: relative;
  }
  100% {
    opacity: 0;
    position: absolute;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(540deg);
  }
}

main {
  position: absolute;
  top: -999px;
  left: -999px;
  opacity: 0;
  animation: appear 3s forwards;
}

@keyframes appear {
  98% {
    opacity: 0;
    position: absolute;
    left: -999px;
    top: -999px;
  }
  99% {
    left: 0;
    top: -500px;
  }
  100% {
    opacity: 1;
    position: relative;
    left: 0;
    top: 0;
  }
}

