@import "../abstracts/variables";

.loading-spinner {
  animation: hiding 2s forwards;
  height: 0;
  width: 0;
  color: $cyan;
  font-size: 400px;
  @media screen and (max-width: 768px) {
    height: 61%;
    font-size: 200px;
  }

  .fa-gear {
    animation: loading-spinner 2s linear forwards;
  }
}

@keyframes hiding {
  0% {
    opacity: 1;
    position: relative;
  }
  100% {
    opacity: 0;
    position: absolute;
  }
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0);
    height: 82%;
    width: 100%;
  }

  100% {
    transform: rotate(540deg);
  }
}

main {
  position: relative;
  display: none;
  opacity: 0;
  animation: appear 3s forwards;
}

@keyframes appear {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

