@import "../abstracts/variables";

footer {
  position: relative;
  background-color: $dark-grey;
  color: white;
  padding: 20px 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: normal;
  }

  h2 {
    width: 100%;
    font-size: 30px;

    @media screen and (max-width: 992px) {
      font-size: 25px;
    }
    @media screen and (max-width: 768px) {
      margin: 10px 0 25px 0;
      font-size: 20px;
    }
  }

  div {
    width: 100%;

    div {
      margin: 5px 0;

      i {
        width: 14px;
      }

      p {
        margin: 0;
        font-weight: bold;
      }
    }

    p {
      margin: 5px 0;
      font-weight: bold;

      @media screen and (max-width: 768px) {
        font-weight: normal;
      }
    }
  }
}
