@import "../abstracts/variables";

header {
  position: relative;
  padding: 10px;
  box-shadow: 0 0 5px 1px $light-black;

  nav {
    display: none;
  }

  img {
    max-width: 300px;
  }

  @media screen and (max-width: 768px) {

    nav {
      display: initial;
      position: absolute;
      left: 5%;
    }

    img {
      height: 30px;
      width: 178px;
    }
  }
}








