header {
  position: relative;
  padding: 15px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);

  nav {
    display: none;
  }

  img {
    max-width: 392px;
  }

  @media screen and (max-width: 992px) {

  }

  @media screen and (max-width: 768px) {

    nav {
      display: initial;
      position: absolute;
      left: 5%;
    }

    img {
      width: 45%;
    }

  }
}








