@import "../../styles/abstracts/variables";
@import "../../styles/base/typography";
@import "../../styles/layouts/header";
@import "../../styles/layouts/footer";
@import "../../styles/layouts/complemantary-class";
@import "../../styles/components/button";

.localization {
  background-color: $grey;
  padding: 15px;

  i {
    position: absolute;
    width: 200px;
    @media screen and (max-width: 768px) {
      width: 175px;
    }
  }

  p {
    margin: 0;
    font-weight: bold;

    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.reserve-menu {
  background-color: $light-grey;
  padding: 40px 5% 60px 5%;

  p {
    max-width: 325px;
    font-size: 19px;
  }
}

.functioning {
  align-items: center;
  gap: 40px;

  @media screen and (max-width: 768px) {
    align-items: normal;
    gap: 30px;
  }

  h2 {
    font-size: 30px;

    @media screen and (max-width: 768px) {
      font-size: 23px;
    }
  }

  .layout {
    max-width: 710px;

    .step {
      width: 338px;
      padding-bottom: 10px;

      @media screen and (max-width: 768px) {
        padding-bottom: 0;
      }

      .number {
        position: absolute;
        background-color: $purple;
        border-radius: 15px;
        color: white;
        font-weight: bold;
        font-size: 12px;
        padding: 3px 6px;
      }

      .layout {
        padding-left: 30px;
        margin-left: 10px;
        background-color: $light-grey;
        border-radius: 25px;
        height: 65px;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        width: 100%;

        i {
          color: grey;
        }

        p {
          font-weight: bold;
        }
      }

      .layout:hover {
        background-color: $light-purple;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);

        i {
          color: $purple;
        }
      }
    }
  }
}

.restaurants {
  background-color: $light-grey;
  align-items: center;
  gap: 40px;

  @media screen and (max-width: 768px) {
    align-items: normal;
    gap: 30px;
  }

  h2 {
    font-size: 30px;

    @media screen and (max-width: 768px) {
      font-size: 23px;
    }
  }

  .layout {
    max-width: 1060px;

    .menu {
      width: 338px;
      display: inline-block;
      background-color: white;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
        height: 160px;
        border-radius: 20px 20px 0 0;
      }

      .notification {
        position: absolute;
        top: 0;
        left: 225px;
        font-weight: bold;
        padding: 5px 15px;
        background-color: #8bdbc1;
        color: #26731f;
      }

      .body {
        padding: 2.5% 5%;

        h3, p {
          padding: 2% 0;
          margin: 0;
        }
      }
    }

    .menu:hover {
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
    }
  }
}
