@import "../../styles/_vendor/normalize";
@import "../../styles/abstracts/variables";
@import "../../styles/base/typography";
@import "../../styles/layouts/header";
@import "../../styles/layouts/footer";
@import "../../styles/layouts/complemantary-class";
@import "../../styles/components/button";
@import "../../styles/components/heart";

img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

section {
  background-color: $light-grey;
  position: relative;
  margin-top: -30px;
  border-radius: 30px 30px 0 0;

  .title {
    margin-bottom: 25px;
    margin-top: -20px;

    h1 {
      font-size: 25px;
    }

    i {
      padding-right: 20px;
    }

    .fa-solid {
      color: $light-grey;
    }
  }

  .menu {
    margin-top: -10px;

    p {
      width: 40px;
      border-bottom: 3px solid #92d9a0;
      padding-bottom: 5px;
      margin-bottom: 0;
      position: relative;
      opacity: 0;
      animation: progressive-loading 0.5s forwards;

      @for $i from 1 through 13 {

        &:nth-child(#{$i * 3 + $i + 1}) {
          animation-delay: #{$i * 0.1}s;
        }
      }
    }

    @keyframes progressive-loading {
      0% {
        top: 15px;
      }
      100% {
        opacity: 1;
        top: 0;
      }
    }

    a {
      width: 315px;
      background-color: white;
      border-radius: 15px;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
      opacity: 0;
      animation: progressive-loading 0.5s forwards;

      @for $i from 1 through 13 {

        &:nth-child(#{$i}) {
          animation-delay: #{($i+1) * 0.1}s;
        }
      }

      .dish {
        padding: 10px 15px;
        width: 100%;

        h3 {
          margin: 0;
          padding-bottom: 5px;
          font-size: 15px;
        }

        p {
          width: initial;
          border: none;
          margin: 0;
          font-size: 13px;
        }

        .overflow {
          width: 220px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .price {
          padding-right: 5px;
          font-weight: bold;
        }
      }

      .check {
        i {
          color: white;
        }
      }


      &:hover {

        .overflow, h3 {
          width: 185px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .check {
          animation: slide-box 0.5s forwards;
          background-color: $light-green;
          border-radius: 0 10px 10px 0;

          @keyframes slide-box {
            0% {
              width: 0;
            }
            100% {
              width: 75px;
            }
          }

          i {
            color: white;
            animation: check-rotate 0.5s;
          }

          @keyframes check-rotate {
            0% {
              transform: rotate(180deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}

